/* DOCUMENT INFORMATION
        - document : site web photo
        - version : 1.0.0
        - author : S. Teillet
*/

/* COLORS default body text
        - h1    #454545
        - p     #534f4f

        - icon  

        - button    
        - button:hover  
*/

/* FONTS
        - default
        - subtitle
*/

/* CSS DIRECTORY
        1.      global
        2.      side navigation
        3.      page content
        3.1     responsive topnav
*/


/* GLOBAL */

html {
    background-color: #fff;
}

h1 {
    color: #4CAF50;
}

p {
    color: #534f4f;
}


/* SIDE NAVIGATION */

h1 {
    font-size: 200%;
    text-align: center;
}

.subtitle-sidebar {
    text-align: center;
    height: 100px;
}

p {
    font-size: 150%;
}

p:hover {
    color: #f2f2f2;
}

hr {
    border-top: 2px solid #534f4f;
    width: 200px;
}

.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */

/* When you mouse over the navigation links, change their color */

/* PAGE CONTENT */

.main {
    background-image: url(../images/images-afs/K.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

    /* responsive topnav */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #111;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 25px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}








































